# deploy to /home/user_name/
[uwsgi]
socket = /tmp/{{ APP_NAME }}.sock
callable = app
chdir = /home/{{ APP_USER_NAME }}/{{ APP_NAME }}
wsgi-file   = main.py
uid         = {{APP_USER_NAME}}
gid         = {{APP_USER_NAME}}
chmod-socket = 666
processes = 4
threads = 2
