# deploy to /home/user_name/
[uwsgi]
socket = 127.0.0.1:3031
callable = app
chdir = /home/{{ APP_USER_NAME }}/{{ APP_NAME }}
wsgi-file   = main.py
uid         = www-data
gid         = www-data
chmod-socket = 666
processes = 4
threads = 2
